<!DOCTYPE HTML>

{% extends "template.html" %}

{% block main %}


<h2 style="width: 40%; border-radius: 8px; margin-left: auto; margin-right: auto; text-align: justify;">Our methods</h2>

<div style="width: 40%; border-radius: 8px; margin-left: auto; margin-right: auto; text-align: justify;">

        Our classes take place in person in our school in Curitiba - Brazil. We apply the natural approach method: you'll be in constant contact with native speaking teachers who will fully immerse you into the language of choice. You will also have up to ten colleagues whom you're incentivized to pair up to learn and practice with.
         <br><br>
        In addition to immersive classes, you'll also study with hand-picked premium materials of the highest quality according to what's available to the course you've selected.

</div>

{% endblock %}